
    <script src="../../../../js/mobile-menu.js?{{ cacheBuster }}"></script>
    <script src="../../../../js/scripts.js?{{ cacheBuster }}"></script>

    <!--DO NOT REMOVE-->
    {{ patternLabFoot | raw }}
  </body>
</html>
