
.section__banner--photo-circle {
  background-color: get-color(blue, 4);
  max-height: 500px;
  overflow: hidden;
  .photo-circle {
    float: right;
  }
  @include breakpoint(838px, $no-query: true) {
    max-height: 300px;
  }
  .layout-constrain {
    display: flex;
    flex-flow: row wrap;
  }
  h2 {
    color: get-color(white, 0);
    line-height: 1.25;
  }
  .section__col {
    flex: 1 0 300px;
    &:first-child {
      align-self: center;
      padding-bottom: 15%;
    }
  }
}
