// @file
// Color variables
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#variables_

$colors: (
  black: (
    0: #000,
  ),
  blue: (
    0: #6fd8d0,
    1: #01acae,
    2: #3398d1,
  ),
  orange: (
    0: #f15d22,
  ),
  grey: (
    0: #ebebeb,
    1: #666666,
    2: #414042,
  ),
  white: (
    0: #FFF,
  ),
);

@function get-color($color, $value: 0) {
  @return map-get(map-get($colors, $color), $value);
}

$primary-text-color: get-color(grey, 2);
$secondary-text-color:  get-color(grey, 1);
$heading-text-color: #333;
$body-color: get-color(white, 0);
$link-color: get-color(blue, 1);
$link-hover-color: get-color(blue, 0);
$selection-background: blue;
$selection-foreground: #fff;
$border-color: #ccc;
$gradient-light: rgba(255, 255, 255, 0.2);
$gradient-dark: rgba(0, 0, 0, 0.2);

// Buttons
$button-bg-color: #f9f9f9;
$button-text-color: #333;

// Forms
$form-bg-color: #eee; // Used for fieldsets and vertical-tabs.
$form-border-color: #ccc;

// Mobile Menu
$mobile-menu-fallback-bg-color: #f3f3f3;
$mobile-menu-bg-color: rgba(243, 243, 243, 0.98);
$mobile-menu-border-color: #dadada;
$mobile-menu-text-color: #555559;
$mobile-menu-hover-color: #000000;
$mobile-submenu-fallback-bg-color: #fff;
$mobile-submenu-bg-color: rgba(255, 255, 255, 0.98);
$mobile-submenu-text-color: #555559;
$mobile-submenu-hover-color: #000000;

// Nav
$pillbox-bg-color: #f9f9f9;
$pillbox-text-color: #333;
$pipeline-border-color: #ccc;
