<div class="section section__banner--photo-circle" >
    <div class="layout-constrain">
        <div class="section__col">
          <h2>We advance a diverse, dynamic early childhood profession</h2>
        </div>
        <div class="section__col">{% include "components-photo-circle" %}</div>
    </div>
</div>
