<div class="section photo-circle">
  <div class="photo-circle__background"></div>
  <div class="photo-circle__image">{% include "base-circle-image" %}</div>
  <div class="photo-circle__accent"></div>

</div>
