.section.photo-circle {
}

.photo-circle {
  width: 442px;
  height: 368px;
  position: relative;
  margin: 2em;
}

.photo-circle__background {
  background-color: get-color(orange, 0);
  border-radius: 50%;
  height: 336px;
  position: absolute;
  width: 336px;
  top: 0;
  right: 0;
  z-index: 0;

}

.photo-circle__image {
  position: absolute;
  top: 35px;
  right: 35px;
  z-index: 20;
  img {
    border-radius: 50%;
    height: 266px;
    width: 266px;
  }
}

.photo-circle__accent {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: get-color(blue, 3);
  border-radius: 50%;
  opacity: .80;
  width: 212px;
  height: 212px;
  z-index: 10;
}
